/*
Colors used

Primary Color (Blue): #5273B8;
Secondary Color (Orange): #F37720;
Third color (white): FFFFFF;
Gray Color (gray): 3030DF;
Black color (black): 10193C;

font ovo and muli 

 */
 /* MAIN */
 body {
  font-family: 'Muli', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  background-color: #F8F8FF;
}


/* TYPOGRAPHY */
h1 {
  font-family: 'Ovo', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 35px;
  text-align: center;
  color: #5273B8;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 40;
  font-size: 36px;
  text-align:center;
  color: #F37720;
}

h3 {
  font-size: 18px;
}
a {
  color: #10193C;
}
a:visited {
  /* visited link */
  color: #F37720;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  /* selected link */
  color: #5273B8;
}

div {
 padding: 10px; /* Adds a 10px inner spacing to all sides */
 padding: 10px 5px; /* Adds 10px to top & bottom and 5px to left and right */
 padding: 10px 5px 15px 5px; /* 10px top, 5px right, 15px bottom, 5px left */
 padding-top: 10px; /* Or you specify the spacing for every direction on it's own */
 padding-right: 5px;
 padding-bottom: 15px;
 padding-left: 5px;
}

/* Buttons */
button {
  /* overwrite browser defaults */
  border: none; /* reset the border */
  font-family: inherit; /* takes the font from the outer container */

  /* style button */
  background-color: #5273B8;
  font-size: 16px;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #10193C; /* width of the border, type, color */
  transition: 0.2s opacity;
}

button:hover,
button:focus {
  cursor: pointer; /* let's the mouse appear as hand when hovering over the button */
  opacity: 0.7; /* Reduces the opactiy of the button to 80% */
}

/* Header & Navigation */
.navigation {
  list-style-type: none;
  padding: 0;
}
.navigation > li {
  display: inline-block;
  margin-left: 10px;
}
ul {
  overflow: hidden;
  background-color: #5273B8;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #ffffff;
}

/* Images */
img {
    width: 100%;
}

/* Layout styling */
.wrapper {
  max-width: 1000px;
  margin: 0 auto; /* No spacing to top and bottom and auto space to left and right */
}
.columns-container {
  font-size: 0;
}
.column-4 {
  font-size: 16px;
  width: 31%;
  display: inline-block;
  margin-right: 1%;
  text-align: center; /* Centers text */
}

/* MEDIA */
@media all and (max-width: 800px) {
  .logo {
    /* Make logo smaller by changing it's height */
    height: 50%;
    width: 50%;
  }
  h1 {
    /* Reduce font-size of heading */
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  h2 {
    font-size: 16px;
    text-align: center;
  }
  .columns-container {
    font-size: 0;
  }
  .column-4 {
    /* Modify 4-column to 2-columns */
    width: 49%;
    margin-right: 1%;
  }
}

/* world map */
.wrapper
  max-width: 1000px
  margin: auto

